<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>
      Savings 
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="refreshData($event)">
    <ion-refresher-content
                  pullingIcon="arrow-dropdown"
                  pullingText="Pull to refresh"
                  refreshingSpinner="circles"
                  refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <!-- Summary stats -->
        <ion-card>
        <ion-card-header>
          <strong>Summary Stats</strong>
        </ion-card-header>
        <ion-card-content>
          <h2>This Week : RM {{weekly_savings}}</h2>
          <h2>All Time : RM {{all_time_savings}}</h2>
        </ion-card-content>
        </ion-card>
    <!-- Chart -->
    <ion-card>
      <ion-card-header>
        <strong>Savings This Week</strong>
      </ion-card-header>
      <ion-card-content>
        <canvas #savingsCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <!-- Recent Savings -->
    <ion-card>
      <ion-card-header>
        <strong>Recent Savings</strong>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-row *ngFor="let item of transc | reverse; let idx = index;">
            <button ion-item *ngIf="idx<4">
              <h2>Datetime : {{item.datetime}}</h2>
              <h2>Savings : RM{{item.transc_amnt}}</h2>
              <p>Transaction Number : {{item.transc_num}}</p>
            </button>
          </ion-row>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>

